@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:wght@400;700&display=swap');

.faq {
    width: 100%;
    padding: 70px 0;
}

.faq__title {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    margin-bottom: 70px;
}

.faq__section {
    display: flex;
    max-width: 1100px;
    margin: 0 auto 80px auto;
    gap: 80px;
}

.faq__subtitle {
    /* flex: 0 0 220px; */
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    font-weight: 700;
    color: #495567;
}

.faq__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq__item {
    width: 90%;
    background: #f7f7f7;
    border-radius: 6px;
    /* margin-left: 100px; */
    overflow: hidden;
}

.faq__question {
    width: 100%;
    padding: 22px;
    font-size: 18px;
    font-weight: 600;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.35s ease;
}

.faq__question:hover {
    background-color: #FFF4DF;
}

.faq__arrow {
    width: 22px;
    height: 22px;
    background: #fcb72b;
    mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') center / contain no-repeat;

    transition: transform 0.35s ease;
}

.faq__arrow--open {
    transform: rotate(180deg);
}

.faq__answerWrapper {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease, padding 0.35s ease;
    padding: 0 22px;
}

.faq__answerWrapper.open {
    max-height: 300px;
    padding: 15px 22px 22px 22px;
}

.faq__answer {
    color: #555;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.6;
    font-size: 15px;
}

/* ——— Responsive ——— */

@media (max-width: 768px) {
    .faq__section {
        flex-direction: column;
        gap: 40px;
    }

    .faq {
        text-align: center;
    }

    .faq__item {
        margin-left: 15px;
        width: 400px;
    }

    .faq__answer{
        text-align: start;
    }

    .faq__subtitle {
        font-size: 26px;
    }
}