@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:wght@400;700&display=swap');

.values {
    padding: 80px 0;
    text-align: center;
    width: 100%;
}

.values__title {
    font-size: 42px;
    font-weight: 700;
    color: #3a3a3a;
    font-family: 'Space Mono', monospace;
    margin-bottom: 60px;
}

.values__items {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    flex-wrap: wrap;
}

.values__item {
    max-width: 320px;
}

.values__imgWrapper {
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto 25px auto;
    border-radius: 50%;
    overflow: hidden;
}

.values__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.values__circle {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #fcb72b;
    color: #fff;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
}

.values__itemTitle {
    font-size: 20px;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin: 30px 0 15px;
    color: #333;
}

.values__text {
    font-size: 15px;
    line-height: 1.6;
    font-family: 'Lexend Deca', sans-serif;
    color: #777;
    width: 99%;
    margin: 0 auto;
}

/* ———— Responsive ———— */

@media (max-width: 900px) {
    .values__items {
        gap: 40px;
    }
}

@media (max-width: 600px) {
    .values {
        padding: 60px 0;
    }

    .values__title {
        font-size: 32px;
    }

    .values__imgWrapper {
        width: 190px;
        height: 190px;
    }

    .values__circle {
        width: 55px;
        height: 55px;
        font-size: 18px;
    }
}