@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:wght@400;700&display=swap');

.careersBackgroundBanner {
    background-image: url('../../../assets/img/location/bannerLocation.png');
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 8%;
    margin-bottom: 120px;
}

h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 1rem;
}