@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:wght@400;700&display=swap');

.jobs-container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 150px;
}

.job-card {
    background: #eef3f8;
    border-radius: 6px;
    padding: 25px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-info h3 {
    margin: 0;
    font-size: 23px;
    font-weight: bold;
    color: #495567;
    font-family: 'Space Mono', monospace;
}

.job-info p {
    margin: 3px 0 0;
    font-size: 14px;
    color: #495567;
    font-family: 'Lexend Deca', sans-serif;
}

.apply-btn {
    background: #FCB72B;
    border: none;
    padding: 12px 60px;
    border-radius: 2px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    transition: 0.3s;
}

.apply-btn:hover {
    background: none;
    border: #FCB72B 1px solid;
    color: #FCB72B;
}