.cities-section {
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    width: 80%;
    margin-bottom: 100px;
}

.map-image {
    width: 100%;
    display: block;
    user-select: none;
}

.city-tag {
    position: absolute;
    background: #f8c034;
    padding: 10px 20px;
    border-radius: 4px;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    color: #2b2b2b;
    font-weight: 600;
}

/* .newyork {
    top: 32%;
    left: 18%;
}

.london {
    top: 25%;
    left: 43%;
}

.yokohama {
    top: 28%;
    right: 18%;
}

.jakarta {
    top: 55%;
    right: 22%;
} */

.bottom-content {
    width: 80%;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.left {
    display: flex;
}


.left h2 {
    font-size: 42px;
    line-height: 44px;
    font-family: "Space Mono", monospace;
    color: #495567;
    margin-bottom: 15px;
}

.left p {
    margin-top: 40px;
    width: 460px;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    color: #939CAA;
    line-height: 22px;
    margin-left: 170px;
}

.message-btn {
    background: #FCB72B;
    border: none;
    color: white;
    padding: 14px 50px;
    font-size: 15px;
    font-family: "Space Mono", monospace;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.message-btn:hover {
    background: none;
    color: #FCB72B;
    border: 2px solid #FCB72B;
}

.edition-for-phone-img-location {
    display: none;
}

.button-elevemt-phone-edition{
    display: none;
}

@media (max-width: 768px) {
    .map-wrapper {
        width: 100%;
        display: block;
    }

    .button-elevemt-phone-edition{
        display: block;
        text-align: center;
    }

    .button-elevemt-phone-edition button{
        padding: 25px 100px;
        margin-bottom: 20px;
        width: 70%;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
        font-family: 'Space Mono', monospace;
        border: none;
        background: #fcb62b49;
    }

    .edition-for-phone-img-location {
        display: block;
        width: 100%;
        margin-bottom: 80px;
    }

    .img-location-main-screen{
        display: none;
    }

    .bottom-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .left{
        flex-direction: column;
        align-items: flex-start;
    }

    .left p {
        margin-left: 0;
        width: 100%;
        margin-bottom: 30px;
    }
}