@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Space+Mono:wght@400;700&display=swap');

.cta-section {
    background: #47506a;
    padding: 70px 8% 80px 8%;
    position: relative;
    overflow: hidden;
    color: white;
    font-family: 'Space Mono', monospace;
}

.footer-flex-class {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 30px 0;
}

.cta-buttons {
    display: flex;
    gap: 20px;
}

.footer-left a{
    text-decoration: none;
    color: white;
}

.cta-btn {
    background: white;
    padding: 0 22px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #333;
    font-weight: 700;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}



.cta-arcs {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    height: 300px;
    pointer-events: none;
    opacity: 0.25;

    transform: translateX(600px);
}


.footer {
    background: #303642;
    padding: 40px 8%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}



.footer-left {
    display: flex;
    align-items: center;
    gap: 40px;
    font-family: 'Space Mono', monospace;
}

.footer-nav {
    display: flex;
    gap: 50px;
    font-size: 16px;
    opacity: 0.85;
}

.footer-social {
    display: flex;
    gap: 20px;
    font-size: 22px;
}

/* .block-footer-text{
    display: block;
}

.mini-text-button{
    font-size: 10px;
} */

@media(max-width: 820px) {
    .cta-title {
        font-size: 36px;
    }

    .cta-buttons {
        flex-wrap: wrap;
    }

    .footer {
        flex-direction: column;
        gap: 20px;
    }
}