.header {
    max-width: 100%;
    padding: 10px 140px;
    display: flex;
    align-items: center;
    font-family: 'Space Mono', monospace;
    justify-content: space-between;
    background: #ffffff;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); */
}

a{
    text-decoration: none;
}

.header-logo {
    font-family: 'Space Mono', monospace;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
}

.header-nav {
    display: flex;
    gap: 32px;
}

.header-nav a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 500;
}

.header-btn {
    font-family: 'Space Mono', monospace;
    padding: 12px 28px;
    background: #FCB72B;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
}