.header {
    max-width: 100%;
    padding: 10px 140px;
    display: flex;
    align-items: center;
    font-family: 'Space Mono', monospace;
    justify-content: space-between;
    background: #ffffff;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08); */
}

a {
    text-decoration: none;
}

.header-logo {
    font-family: 'Space Mono', monospace;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
}

.header-nav {
    display: flex;
    gap: 32px;
}

.header-nav a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.header-nav a:hover {
    color: #FCB72B;
}

.header-btn {
    font-family: 'Space Mono', monospace;
    padding: 12px 28px;
    background: #FCB72B;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    transition: 0.3s;
}

.header-btn:hover {
    background: none;
    border: #FCB72B 3px solid;
    color: #FCB72B;
}

.burger span {
    width: 25px;
    height: 3px;
    background: #FCB72B;
    border-radius: 2px;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .header {
        padding: 20px;
    }

    .header-nav {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        padding: 30px;
        display: none;
    }


    .header-nav.open {
        display: flex;
    }


    .header-btn {
        display: none;
    }


    .burger {
        display: flex;
    }
}